.result-page {
  .result-settings-panel {
    margin-left: 20px;
    height: calc(~"100vh - 125px");
    .panel-heading {
      font-size: 22px;
      height: 49px;
    }
    .panel-body {
    }
  }
  .text-editor {
    height: calc(~"100vh - 125px");
  }
}